/*pallete: https://colorhunt.co/palette/a94438d24545e6baa3e4debe*/

@font-face {
  font-family: Inter;
  src: url("/Inter/Inter.ttf");
}

:root {
  --pallete-warm-brown: rgb(169, 68, 56);
  --pallete-warm-pink: rgb(210, 69, 69);
  --pallete-warm-salmon: rgb(230, 186, 163);
  --pallete-warm-yellow: rgb(228, 222, 190);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--pallete-warm-salmon);
  color: var(--pallete-warm-pink);
  font-family: Inter;
}

a {
  color: var(--pallete-warm-pink);
  text-decoration: none;
}